<!doctype html>
<html class="no-js" lang="">
<head>
    <%- include("modular/headTag") -%>
    <link rel="stylesheet" href="css/cart.css">
</head>

<body>
    <%- include("modular/leftPanel") -%>

    <div id="right-panel" class="right-panel">
        <%- include("modular/header") -%>

        <div class="content">
            <div class="animated fadeIn">
                <div class="row">
                    <%- include("modular/cart") -%>
                </div>
            </div>
        </div>
    </div>

    <%- include("modular/scriptTag") -%>
</body>
</html>