<!doctype html>
<html class="no-js" lang="">
<head>
    <%- include("modular/headTag") -%>
    <link rel="stylesheet" href="Wizard/css/style.css">
</head>

<body>
    <%- include("modular/leftPanel") -%>

    <div id="right-panel" class="right-panel">
        <%- include("modular/header") -%>

        <div class="content">
            <div class="animated fadeIn">
                <div class="row">
                        <%- include("modular/buy/1") -%>
                        <%- include("modular/buy/2") -%>
                </div>
            </div>
        </div>
    </div>

    <%- include("modular/scriptTag") -%>
    <script src="Wizard/js/jquery.steps.js"></script>
    <script src="Wizard/js/main.js"></script>

    <script src="/socket.io/socket.io.js"></script>
    <script src="./js/socket.js"></script>
</body>
</html>